# Ali Rizvi faves
alias cls=clear
alias r=rails
alias ll='ls -al'

# git aliases
alias gs='git status '
alias ga='git add '
alias gb='git branch '
alias gc='git commit'
alias gd='git diff -b'
alias go='git checkout '
alias gcl='git clone '
alias gk='gitk --all&'
alias gx='gitx --all'

# misc
#alias less="less --RAW-CONTROL-CHARS"

alias a='atom -n .'
alias rmkh='rm ~/.ssh/known_hosts'

# run individual rails test file
alias rtest='bundle exec ruby -I"lib:test"'

alias rge="rg --pretty --iglob !'*.yml' --iglob !'*.sql' --iglob !'*test*' --iglob !'*.csv' --iglob !'*.min.js' --iglob !'tags'"
alias ddb="cd ~/code/devbox; bundle exec rake db:docker:start"

alias bx="bundle exec "
