[color]
        ui = auto
[alias]
  co = checkout
  br = branch
  st = status
  lold = log --format=\"%h (%aE %ar) -> %s\" --graph --decorate
  lol = "log --all --pretty=format:'%h %cd %s (%an)'"

[user]
	name = Ali Rizvi
	email = aliabbasrizvi@gmail.com
[core]
	editor = mate -w
[mergetool]
	keepBackup = true
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
